@import '../../vars.scss';

.search {
  &__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0.3em;
    &:focus {
      outline: none;
      path {
        fill: darken($accent, 10);
      }
    }
    &:hover {
      path {
        fill: darken($accent, 80);
      }
    }
    &:active {
      path {
        fill: darken($accent, 100);
      }
    }

    svg {
      width: 1.6em;
      height: 1.4em;

      path {
        fill: $accent;
        transition: fill 0.5s;
        visibility: visible;
      }
      g {
        visibility: hidden;
      }
    }
    &[data-state='open'] {
      svg {
        path {
          visibility: hidden;
        }
        g {
          visibility: visible;
        }
      }
    }
  }
}
