.main-grid {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: minmax(1.3em, 2em) 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.6em;
  @media (min-width: 1210px) {
    grid-template-columns: 2em 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3em;
    padding: 0;
  }

  .sidebar {
    grid-area: sidebar;
  }
  .site-content {
    grid-area: main;
  }
}
